*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background-color: black;
    color: #FFF;
}

/* Common Style */
:root {
    --primary-clr-wh: rgba(255, 255, 255, 1);
    --secondary-clr-half-wh: rgba(255, 255, 255, 0.5);
    --special-clr: rgba(230, 83, 60, 1);
    --bg-clr: rgba(255, 255, 255, 0.135);
    --dark-gray-clr: #222222;
    --ft-bg-clr: #1A1A1A;

}

.section-center {
    width: 85%;
    max-width: 1100px;
    margin: 0 auto;
}

.btn {
    padding: 0.9rem 2.4rem;
    color: var(--primary-clr-wh) ;
    background-color: var(--special-clr);
    border: none;
    border-radius: 2.5rem;
    font-size: 1rem;
    font-weight: 500;
}

.flex {
    display: flex;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}




/* Header | Navber Section */
header {
    /* background: linear-gradient(180.00deg, rgba(17.41, 17.41, 17.41, 1) 0%,rgba(119.41, 119.41, 119.41, 0) 100%); */
}

nav {
    align-items: center;
    justify-content: space-between;
    align-items: center;
    padding-block: 1.5rem;
}

.nav-logo h2 {
    font-size: 2.1rem;
    font-style: italic;
    color: var(--special-clr);
}

.nav-links {
    border: 1px solid var(--secondary-clr-half-wh);
    padding: 0.625rem 0.1875rem;
    border-radius: 2.4475rem;
}

.nav-links ul {
    gap: 3rem;
}

.nav-links a{
    font-size: 0.9rem;
    color: var(--primary-clr-wh);
}

.nav-links li:hover {
    text-decoration: underline;    
}

#nav-home-link {
    background-color: var(--special-clr);
    padding: 0.6rem 1.25rem;
    border-radius: 2.875rem;
}

#nav-about-link {
    margin-right: 1.2rem;
}



/* Hero-Section */
.hero-container {
    align-items: center;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.hero-content {
    width: 50%;
    color: var(--primary-clr-wh);
}

.hero-content h1 {
    font-size: 4.875rem;
}

.hero-content p {
    font-size: 1rem;
    margin-block: 2rem;
    line-height: 1.5rem;
}

.black-btn {
    margin-left: 0.6rem;
    background-color: transparent;
    border: 1px solid var(--primary-clr-wh);
}


/* Hero-Img Section */
.hero-img {
    position: relative;
    width: 50%;
    justify-content: end;

}

.hero-img img {
    width: 60%; 
    object-fit: cover;
}

.box-top,
.box-btm {
    padding: 1rem 1.5rem;
    background-color: var(--bg-clr);
    border-radius: 0.7rem;
}

.box-top p,
.box-btm p {
    font-size: 0.8rem;
    color: var(--secondary-clr-half-wh);
}

.box-top h2 {
    font-size: 2rem;
    line-height: 2.8125rem;
    font-weight: 800;
}

.box-btm h1 {
    font-size: 1rem;
    line-height: 2.8125rem;
    font-weight: 900;
}

.box-top {
    position: absolute;
    right: -10%;
    top: 22%;
}

.box-btm .circle {
    width: 2.3125rem;    
    height: 2.3125rem;    
    background-color: var(--special-clr);
    border-radius: 50%;
    margin-right: 0.8rem;
}


.box-btm {
    position: absolute;
    left: 21%;
    bottom: 10%;
    align-items: center;
    padding: 1.2rem 1.75rem;
}



/* Main-Section | Habit-Section */
.habit-container {
    margin-top: 5rem;
}

.habit-text-content {
    text-align: center;
    margin-bottom: 3rem;
}

.habit-text-content h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: var(--primary-clr-wh);
}

.habit-text-content p {
    font-size: 0.8rem;
    max-width: 50%;
    margin: 0 auto;
    color: var(--secondary-clr-half-wh);
}

.habit-content {
    justify-content: space-between;
    align-items: center;
}

.habit-content
.habit-content-cards {
    text-align: center;
}

.habit-content
.habit-content-cards img {
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.habit-content
.habit-content-cards h4 {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    color: var(--primary-clr-wh);
}

.habit-content
.habit-content-cards p {
    font-size: 0.8rem;
    max-width: 85%;
    margin: 0 auto;
    color: var(--secondary-clr-half-wh);
}

/* Run-Section */
.run-section {
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-gray-clr);
    padding: 2rem;
    border-radius: 1rem;
    margin-block: 5rem;
}

.run-section-content {
    width: 50%;
}

.run-section-content h2 {
    color: var(--primary-clr-wh);
    font-size: 2.5rem;
}

.run-section-content p {
    font-size: 0.8rem;
    max-width: 85%;
    line-height: 1.35rem;
    color: var(--secondary-clr-half-wh);
    margin: 1rem 0 1.5rem
}

.run-section-img {
    width: 50%;
    text-align: end;
}

.run-section-img img {
    width: 85%;
    border-radius: 1rem;
    object-fit: cover;
}



/* Training-Section */
.training-container h2 {
    font-size: 2.5rem;
    color: var(--primary-clr-wh);
}

.training-container p {
    font-size: 0.8rem;
    max-width: 50%;
    color: var(--secondary-clr-half-wh);
    margin: 1rem 0 2.5rem;
}

.training-imgs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 200px);
}

.training-imgs img {
    height: 100%;
    width: 100%;
    mix-blend-mode:multiply;
}

.training-imgs .box-1 {
    background-color: #87ffe9;
    
}

.training-imgs .box-2 {
    grid-column: span 2;
    background-color: #ff7d7d;
}

.training-imgs .box-3 {
    background-color: rgb(163, 163, 163);
}

.training-imgs .box-4 {
    grid-column: span 2;
    background-color: rgb(141, 132, 132);
}
.training-imgs .box-5 {
    background-color: #a2f783;
}

.training-imgs .box-6 {
    background-color: #90b0ff;
}

/* .box {
    position: relative;
}

.box p {
    position: absolute;
    color: #FFF;
    font-size: 0.9rem;
}

.box-1 p {
    left: 10%;
    bottom: ;
    color: yellow;
} */



/* Team-Section */

.team-container {
    margin-block: 5rem;
}

.team-text-content h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: var(--primary-clr-wh);
}

.team-text-content p {
    text-align: center;
    font-size: 0.8rem;
    max-width: 50%;
    margin: 0 auto;
    color: var(--secondary-clr-half-wh);
    margin-bottom: 3.5rem;
}

.team-imgs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 1.2rem;
    background-color: var(--dark-gray-clr);
    grid-gap: 1.2rem;
    border-radius: 1rem;
}

.team-imgs img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    object-fit: cover;
}

.team-imgs .cards {
    position: relative;

}

.team-imgs  h3 {
    position: absolute;
    left: 1.2rem;
    bottom: 10%;
    font-size: 1.1rem;
    color: var(--primary-clr-wh);

}

.team-imgs p {
    position: absolute;
    left: 1.2rem;
    bottom: 4%;
    font-size: 0.8rem;
    color: var(--secondary-clr-half-wh);
}



/* Footer-section */
footer {
    background-color: var(--ft-bg-clr);
}

.footer-container {
    padding-top: 3.5rem;

}

.footer-top-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3.5rem;
}

.ft-contetn-1,
.ft-contetn-2,
.ft-contetn-3 {
    max-width: 33.33%;
}

.ft-contetn-1 h2 {
    color: var(--special-clr);
    font-size: 3rem;
    font-style: italic;
    margin-bottom: 1rem;
}

.ft-contetn-1 p {
    color: var(--secondary-clr-half-wh);
    font-size: 0.8rem;
    line-height: 1.4rem;
}

.ft-contetn-2 a,
.ft-contetn-3 a {
    color: var(--secondary-clr-half-wh);
    font-size: 0.9rem;
}

.ft-contetn-2 a:hover,
.ft-contetn-3 a:hover {
    text-decoration: underline;
    color: var(--primary-clr-wh);
}

.ft-contetn-2 li,
.ft-contetn-3 li {
    margin-bottom: 0.6rem;
}

.ft-contetn-2 h4,
.ft-contetn-3 h4 {
    color: var(--primary-clr-wh);
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.Footer-btm-content .ft-line {
    width: 100%;
    height: 0.5px;
    background-color: var(--secondary-clr-half-wh);
    opacity: 0.3;

}

.Footer-btm-content {
    text-align: center;
    padding-bottom: 1.5rem;
}

.Footer-btm-content p {
    margin-top: 1.5rem;
    font-size: 0.8rem;
    color: var(--secondary-clr-half-wh);

}

