*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background-color: black;
    color: #FFF;
}

/* Common Style */
:root {
    --primary-clr-wh: rgba(255, 255, 255, 1);
    --secondary-clr-half-wh: rgba(255, 255, 255, 0.5);
    --special-clr: rgba(230, 83, 60, 1);
    --bg-clr: rgba(255, 255, 255, 0.1);

}

.section-center {
    width: 88%;
    max-width: 1130px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}



/* Header | Navber Section */
header {
    /* background: linear-gradient(180.00deg, rgba(17.41, 17.41, 17.41, 1) 0%,rgba(119.41, 119.41, 119.41, 0) 100%); */
}

nav {
    align-items: center;
    justify-content: space-between;
    align-items: center;
    padding-block: 1.5rem;
}

.nav-logo h2 {
    font-size: 2.1rem;
    font-style: italic;
    color: var(--special-clr);
}

.nav-links {
    border: 1px solid var(--secondary-clr-half-wh);
    padding: 0.625rem 0.1875rem;
    border-radius: 2.4475rem;
}

.nav-links ul {
    gap: 2.5rem;
}

.nav-links a{
    font-size: 0.9rem;
    color: var(--primary-clr-wh);
}

.nav-links li:hover {
    text-decoration: underline;    
}

#nav-home-link {
    background-color: var(--special-clr);
    padding: 0.6rem 1.25rem;
    border-radius: 2.875rem;
}

#nav-about-link {
    margin-right: 1.2rem;
}




